<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testes cvom if e for</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>

    <div id="app">
      {{ msg }}
      <p v-bind:title="titulo">Teste com Title</p>
      <p v-if="condicao">Teste com IF esta true</p>
      <p v-if="condicao" v-for="registro in registros">{{registro.titulo}}</p>
      <button v-if="!clicou" v-on:click="usuarioClicou">salvar</button>
      <button v-if="clicou" v-on:click="usuarioClicou">aguarde...</button>
      <br>
      <br>
      <input type="text" placeholder="teste" v-model="usuario.nome">
      <p>Nome: {{usuario.nome}}</p>
      <p v-once>v-once "nao muda o atributo": {{usuario.nome}}</p>
    </div>


    <script type="text/javascript">

      var app = new Vue({
        el:"#app",
        data:{
          msg:'Testes com if e for',
          titulo:"Teste com V-Bind",
          condicao: true,
          registros:[
            {titulo:'registro1'},
            {titulo:'registro2'},
            {titulo:'registro3'},
            {titulo:'registro4'},
            {titulo:'registro5'}
          ],
          clicou: false,
          usuario: {nome:"Renato"}
        },
        methods: {
          usuarioClicou:function() {
            this.clicou = !this.clicou;
          }
        }

      });


    </script>

  </body>
</html>
